@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-dark-bg: #0e0e0e;
  --color-dark-bg2: #102020;
  --color-dark-bg3: #1f2f3b;
  --color-dark-fg: #f2f2f2;
  --color-dark-fg2: #a0a0a0;
  --color-dark-fg3: #909090;

  --color-highlight-1: #d93682; /* rose */
  --color-highlight-2: #3b82f6; /* blue-500 */
  --color-highlight-3: #10b981; /* emerald-500 */
  --color-highlight-4: #f59e0b; /* amber-500 */

  --color-accent: var(--color-highlight-1);
}

@layer utilities {
  .bg-accent {
    background-color: var(--color-accent);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .border-accent {
    border-color: var(--color-accent);
  }
  .outline-accent {
    outline-color: var(--color-accent);
  }
  .stroke-accent {
    stroke: var(--color-accent);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .volume-slider {
    @apply h-2 w-32 appearance-none rounded-lg;
  }

  /* Chrome, Safari (WebKit) */
  .volume-slider::-webkit-slider-runnable-track {
    @apply h-2 rounded-lg bg-gray-300;
  }

  .volume-slider::-webkit-slider-thumb {
    @apply bg-accent h-4 w-4 appearance-none rounded-full border-2 border-white;
    margin-top: -6px; /* Position thumb vertically centered */
  }

  /* Firefox */
  .volume-slider::-moz-range-track {
    @apply h-2 rounded-lg bg-gray-300;
  }

  /* Filled track in Firefox */
  .volume-slider::-moz-range-progress {
    @apply bg-accent h-2 rounded-lg;
  }

  .volume-slider::-moz-range-thumb {
    @apply bg-accent h-4 w-4 rounded-full border-2 border-white;
  }

  /* IE - optional, mostly deprecated */
  .volume-slider::-ms-track {
    @apply border-0 bg-transparent text-transparent;
  }

  .volume-slider::-ms-fill-lower {
    @apply bg-accent rounded-lg;
  }

  .volume-slider::-ms-fill-upper {
    @apply rounded-lg bg-gray-300;
  }

  .volume-slider::-ms-thumb {
    @apply bg-accent h-4 w-4 rounded-full border-2 border-white;
  }
}

html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
  font-family: inherit;
  scroll-behavior: smooth;
}

:root {
  font-family: "Mukta", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
